@model dynamic
<noscript>
    <div class="row">
        <div class="span8">
        <p class="lead">
            <strong>JavaScript seem to be disabled in your browser.</strong></p>
        <p class="text-info">
            You must have JavaScript enabled in your browser to utilize the functionality of
            this website.</p>
        </div>
    </div>
</noscript>
