<!-- todo : model not found -->
@model UserAgreementModel
@using SSG.Web.Models.User;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml"; 
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#agreement-agree").click(toggleContinueButton);

        toggleContinueButton();
    });

    function toggleContinueButton() {
        if ($('#agreement-agree').is(':checked')) {
            $('#continue-downloading').removeAttr('disabled');
        } else {
            $('#continue-downloading').attr('disabled', 'disabled');
        }
    }
</script>
<div class="page user-agreement-page">
    <div class="page-header">
    </div>
    <div class="page-body">
        @Html.Raw(Model.UserAgreementText)
    </div>
</div>
