@using SSG.Web.Models.RFQ
@using PagedList.Mvc
@using PagedList
@model IEnumerable<RFQStatusModel>
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    ViewBag.Title = "RFQ Status Type";
}

<h2>
    @ViewBag.Title</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="grid-list">
    @Html.Partial("_Table", Model)
</div>
